{% extends "blog/base.html" %}
{% block content %}
    <div  class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Vuoi cancellare il post? "{{ object.title}}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outlin-danger" type="submit">Si', cancella</button>
                <a class="btn btn-outlin-secondary" href="{% url 'post-detail' object.id %}">Cancella</a>
            </div>
        </form>
    </div>
{% endblock content %}