{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div  class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outlin-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{%url 'password_reset'%}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Non hai un account? <a class"ml-2" href="{% url 'register'%}">Registrati</a> </small>
        </div>
    </div>
{% endblock content %}