{% extends "blog/base.html" %}
{% block content %}
        <h2>Hai effettuato il Logout!</h2>
        <div class="border-top pt-3">
            <a href="{% url 'login' %}">Log In</a> </small>
        </div>
{% endblock content %}